@import "./resets";
@import "./variables";
@import "./app";
@import "./themeSwitch";
@import "./calculator";
@import "./display";
@import "./buttons";

@import "./light";
@import "./dark";

body {
  font-family: $font-family1;
  user-select: none;
  overflow: hidden;
}
